.button-container {
    width: 1080px;
    background: gray;
    overflow-y: auto;
}

.button-container > button {
    width: 120px;
    height: 120px;
    float: left;
    background: lightgray;   
    margin: 10px;
}

.button-container > button:focus {
    background: red;
}