.convolution-demo {
    padding: 20px;
}

.button-container {
    background: gray;
    overflow-y: auto;
}

.image-container {
    width: 50%;
    float: left;
    padding: 20px;
}

.button-container > button {
    width: 10%;
    height: 10%;
    float: left;
    background: lightgray;   
    margin: 0.5%;
}

.button-container > button:focus {
    background: red;
}