.button-container {
    width: 480px;
    background: gray;
    overflow-y: auto;
}

.image-container {
    width: 480px;
    background: gray;
    overflow-y: auto;
}

.button-container > button {
    width: 100px;
    height: 100px;
    float: left;
    background: lightgray;   
    margin: 5px;
}

.button-container > button:focus {
    background: red;
}